header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0747a6;
    color: white;
    padding: 10px;
    height: 50px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    height: 30px;
}

.created-by {
    font-size: 14px;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notification h3 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.notification pre {
    margin: 10px 0 0;
    font-size: 14px;
    color: #ffffff;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.closeButton {
    position: absolute;
    padding: 0;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton:hover {
    color: #313131;
    background-color: white;
    border-radius: 50%;
}