body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.map {
    width: 100%;
}

#webmap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testResultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.bottomContainer {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
}

.reason {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.codeContainer {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.code {
    padding: 20px;
    background-color: whitesmoke;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.errors {
    width: 100%;
}

.goals {
    width: 100%;
}

.buttonGen {
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #87CEEB;
    color: white;
    cursor: pointer;
}

.buttonGen:hover {
    background-color: #6DAFEA;
    color: white;
}

.buttonGenSelected {
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #6DAFEA;
    color: white;
    cursor: pointer;
}
